---
import Base from '../layouts/Base.astro';
import PublicationList from '../components/PublicationList.astro';
---
<Base title="Publications" description="Publications by Zhongyun Hua.">
  <section>
    <PublicationList />
  </section>
</Base>
